* {
    background-color: #008080;
    color: #FFFFFF;
}

p {
    margin: 0px;
    padding: 0px;

    color: #000;
    background-color: #FFF;
}

.window {
    width: 300px;
    height: 200px;
    
    background: #FFF;
    border: 2px outset #888;
    color: #000;

    position: absolute;
    bottom: 0px;
    right: 0px;

    min-width: 200px;
    min-height: 150px;

    max-width: 600px;
    max-height: 400px;

    overflow: auto;
    resize: both;

    transform: rotateZ(180deg);
}

.window-header {
    background: #00F;
    color: #FFF;
    font-size: 100%;
}

.window-hidden-div {
    position: absolute;
    bottom: 0px;
    right: 0px;
    
    width: 75%;
    height: 75%;
    
    overflow: auto; 
    resize: both;
    transform: rotateZ(180deg);

    background: rgba(0,0,0,0);
}

.app-icon {
    padding: 22px;
    background: #0003;
    pointer-events:none;
}

.app-name {
    font-size: x-small;
}
